[notion]
TOKEN = "Secret_wwwZti7prXvBDwwwWea9spqkDn6iJNmfXmYacuqOooo"
DATABASE_ID = "3b4wwww918045fb92f6198aa71cwwxx"

[excel]
EXCEL_BASIC_DIR = "/xxx"
FILE_NAME = "schedule.xlsx"
SCHEDULE_TIMELINE_START_AT = "07:30"
SCHEDULE_TIMELINE_END_AT = "21:00"
SCHEDULE_TIMELINE_INTERVAL = 5  # 5 or 10 or 30
